<row class = "register"> 
<div class = "col-xs-12">
<a class="login" href="">LOG IN/</a>
<a class="signup" href="">SIGN UP</a>
</div>
</row>
<form action="" class="action">
<input class="city-name" name="name" id="name" placeholder="Enter city name" type="text" required>
<button class = "search" type='button'>Search</button>

</form>
<section class = "working">
<row class = "app-work">
<div class></div>
</row>
</section>

<section class = "contact-us">
  <row class>
     <div class></div>   
  </row>
</section>