 <div class = "row register"> 
    <div class = "col-xs-12">
      <a href="#home">Home</a>
      <a class="login" href="#login">LOG IN</a>
      <a class="signup" href="">SIGN UP</a>
      <a class="work" href="#how">How it works</a>
    </div>
  </div>